.bg-primary{
    background-color: rgb(186, 136, 232)!important;
}
.btn-primary{
    background-color: rgb(195, 123, 210)!important;
    border-radius: 35px;
    align-items: center;
    color: rgb(237, 215, 215);
    margin-left: 400px;
}